header 
    .wrapper 
        nav.main-menu 
            ul 
                li
                 a( href="price.html") Стоимость
                li
                 a( href="samples.html") Примеры печати
                li
                 a( href="contacts.html") Контакты
                li
                 a( href="index.html") О компании