doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Контакты
        link(rel="stylesheet", href="styles/style.css")
    body
        include modules/header
        section.contacts
            .wrapper
                p Phone Number:	+7 (548) 634-7656
                |Address:	к. Грозный, ул. Черняховского, д. 56, 467723
                |Email Address:	izjaslav_85@npo.biz 
        include modules/footer 